html, body{
    margin: 0;
    padding: 0;
}
html{
    background-color: lightyellow;
}
h1{
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    background-color: black;
    color: white;
    padding: 20px 0;
}
form{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 30px;
}
input[type="text"],input[type="email"],input[type="tel"],input[type="submit"], textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 20px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}
input[type="text"],input[type="email"],input[type="tel"], input[type="submit"]{
    height: 50px;
}
div{
    margin-bottom: 20px;
}
textarea{
    padding-top: 5px;
    resize: vertical;
    min-height: 80px;
}
input[type="submit"]{
    background-color: black;
    color: white;
    font-size: 18px;
}
input[type="submit"]:hover{
    cursor: pointer;
}
fieldset{
    border: 1px solid gainsboro;
    margin-bottom: 20px;
}
form > label{
    font-size: 20px;
}

@media (min-width:601px) {
    form{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    form > label{
        font-size: 18px;
    }
    input[type="text"],input[type="email"],input[type="tel"], input[type="submit"]{
        height: 40px;
    }
    h1{
        background-color: darkcyan;
    }
    body{
        height: 100vh;
        background-color: gainsboro;
    }
}